* {
  margin: 0;
  padding: 0;
}

body {
  margin: 1vh 2vw;
}

.sansserif {
  font-family: Arial, Helvetica, sans-serif;
}

.serif {
  font-family: Georgia, "Times New Roman", Times, serif;
}

#smallscreenheader {
  display: none;
}

#smallscreenheadertop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  border-bottom: lightgrey 1px solid;
}

#smallscreenheaderbottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  border-bottom: lightgrey 1px solid;
}

#smallscreenheaderbottom p {
  font-size: 14px;
  padding: 10px;
}

#smallscreenlogo {
  width: 200px;
}

#accounticon {
  width: 20px;
  padding: 10px;
}

#headertop {
  display: flex;
  justify-content: space-between;
  height: 30px;
  align-items: center;
}

#hamburgerSearch {
  display: flex;
  width: 33vw;
}

.hamburger {
  transform: rotate(90deg);
  padding: 10px;
}

#hamburgertext {
  font-weight: bolder;
}

#searchicon {
  width: 20px;
  padding: 10px;
}

#languages {
  list-style: none;
  display: flex;
}

#languages li {
  padding: 0 10px;
  text-transform: uppercase;
  font-size: 10px;
}

#buttonsdiv {
  width: 33vw;
  display: flex;
  justify-content: right;
}

.buttons {
  background-color: rgb(86, 123, 149);
  color: white;
  padding: 8px 10px;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  font-size: 12px;
  font-weight: bold;
}

#headermain {
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
  border-bottom: 1px solid lightgrey;
  height: 80px;
}

#logo {
  width: 400px;
}

#date {
  width: 30vw;
  font-size: 12px;
}

#weatherwrapper {
  width: 30vw;
  display: flex;
  justify-content: right;
}

#weather {
  width: 120px;
}

#navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 90vw;
  margin: 0 auto;
}

#navbar li {
  padding: 10px 0px;
  list-style: none;
  font-size: 10px;
}

#navbarwrapper {
  border-bottom: solid 1.5px black;
}

#border {
  height: 0;
  width: 100%;
  margin: 0 auto;
  border-bottom: solid 1.5px black;
  padding: 1px 0 0 0;
}

main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1%;
}

h1 {
  font-size: 18px;
  margin-bottom: 2%;
}

h3 {
  font-size: 13px;
  margin-bottom: 2%;
}

h2 {
  font-size: 24px;
  font-weight: 20;
  margin-bottom: 2%;
}

h4 {
  font-size: 14px;
  padding: 2%;
  margin-left: 2%;
}

main li {
  padding: 0.5em 0;
}

main li,
main p {
  font-size: 14px;
  color: gray;
}

main img {
  padding: 0 2%;
}

figcaption {
  font-size: 8px;
  text-align: right;
  font-family: Arial, Helvetica, sans-serif;
}

#section1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr, 1fr;
  gap: 1%;
  border-bottom: solid black 1px;
}

article {
  padding: 2%;
}

#section1article1 {
  grid-column-end: span 2;
  display: flex;
  justify-content: space-evenly;
  border-bottom: solid lightgrey 1px;
}

#section1article1 figure {
  width: 100%;
}
#section1article1 img {
  width: 100%;
}

#section2 > div {
  display: grid;
  grid-template-columns: 3fr 1fr;
  border-bottom: solid lightgrey 1px;
}

#section2 figure {
  width: 50%;
}

#section2 img {
  width: 100%;
}

#section2article1 {
  display: flex;
  justify-content: space-evenly;
}

#section2article1 > div {
  width: 50%;
}

#section2article2 {
  border-left: lightgrey 1px solid;
  padding: 2% 4%;
  margin: 2%;
}

aside {
  border-left: lightgray solid 1px;
}

#sidearticle1 {
  display: flex;
  justify-content: space-evenly;
  border-bottom: lightgrey solid 1px;
  margin-left: 2%;
}

#sidearticle1 img {
  width: 50%;
}

.h4bottomborder {
  border-bottom: lightgrey solid 1px;
}

#opinionarticle {
  margin-left: 2%;
  border-top: 1px solid black;
  border-bottom: 1px solid lightgrey;
  padding-bottom: 1rem;
  padding-bottom: 0.5rem;
}

.opinion {
  font-family: sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: black;
}

.author {
  text-transform: uppercase;
  font-size: 18px;
  margin: 1rem 0;
}
.opinionhead {
  font-size: 24px;
  color: black;
}

.flex {
  display: flex;
}

#trump {
  width: 30%;
  object-fit: cover;
}

@media all and (max-width: 1000px) {
  aside {
    display: none;
  }
  main {
    display: block;
  }
  #largescreenheader {
    display: none;
  }
  #smallscreenheader {
    display: block;
  }
}

@media all and (max-width: 700px) {
  #section1 {
    display: block;
  }
  #section1article1 {
    display: block;
  }
  #section2 {
    display: block;
  }
  #section2 > div {
    display: block;
  }
  #section2article1 {
    display: block;
    margin: 0;
    padding: 1%;
  }
  #section2article1 > div {
    width: 100%;
  }
  #section2 figure {
    width: 100%;
  }
  #section2article2 {
    border-left: none;
    margin: 0;
    padding: 1%;
  }
  #section2 img {
    width: 100%;
  }
  main img,
  main figure,
  main article,
  main div,
  main section {
    padding: 1%;
    margin: 0;
  }
}
